/* Imported Typeface Files */

@font-face {
    font-family:Lato;
    src: url(../fonts/lato-regular.ttf);
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:Alfa Slab One;
    src: url(../fonts/alfa-slab-one-regular.ttf);
    font-style:normal;
    font-weight:normal;
}

/* Root */

html {
    font-size:16px;
}


/* Body & Main  */

body {
    font-family:Lato, Arial, sans-serif;
    font-size:1rem;
    padding:1rem;
    min-width:39rem;
    max-width:50rem;
    margin:0 auto;
}
main {
    background-color:#ddd;
    background-image:url(../images/wrinkled-white-paper-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border:1px solid #333;
}

/* Headings  */

h1 {
    text-transform: uppercase;
    text-shadow: .09375rem .09375rem .09375rem #000;
     text-align: center;
    font-size: 6rem;
    font-family: 'Alfa Slab One', Garamond, serif;
    margin: 0;
    letter-spacing: .5rem;
    color: darkred;
}

h2 {
    text-shadow: .09375rem .09375rem .09375rem #000;
    text-transform: uppercase;
    text-align: center;
    color: darkred;
    font-family: 'Alfa Slab One', Garamond, serif;
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    letter-spacing: .25rem;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-family: 'Alfa Slab One', Garamond, serif;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

h4 { 
    text-shadow: .09375rem .09375rem .09375rem #000;
    text-align:center;
    text-transform: uppercase;
    color:darkred;
    font-family:'Alfa Slab One', Garamond, serif;
    font-size:1.5rem;
    font-weight:normal;
    margin: 0;
    letter-spacing: .25rem;
    padding-bottom:  1.125rem;
    }
     span { padding:  0 .5rem;
}

h5 {
    font-size:1rem;
     margin: .25rem 0;
    padding: .5rem;
    background-color:#333;
    color:#FFF;
    font-weight:normal;
    font-family:'Alfa Slab One', Garamond, serif;
    text-align:center;  
}

/* Section & Paragraph */

section {
    margin-top: .5rem;
    
}

p {
    margin: 1rem auto;
    padding: 0 1rem;
    width: 90%;
    text-align: left;
}


/* Image & Figure */

img {
    margin-bottom: 2rem;
    width:  100%;
    max-width: 50rem;
    margin:  0 auto;
    
}

figure {
    margin-bottom: 2rem;
}

figcaption {
    padding-top: .5rem;
    text-align:  right;
}


/* Footer */

footer {
    padding:  1rem;
    border-top: 2rem solid #333;
        
}
